node_modules

.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
#Pods/

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/react-native-device-info.iml

.idea/vcs.xml

.idea/workspace.xml
android/android.iml
android/gradlew
android/gradlew.bat
android/local.properties
android/.gradle/4.1/fileChanges/last-build.bin
android/.gradle/4.1/fileHashes/fileHashes.bin
android/.gradle/4.1/fileHashes/fileHashes.lock
android/.idea/gradle.xml
android/.idea/misc.xml
android/.idea/modules.xml
android/.idea/runConfigurations.xml
android/.idea/workspace.xml
